fastapi==0.115.4
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.35

# DB
psycopg[binary]==3.2.3
alembic==1.13.2

# Data / ML
pandas==2.2.3
numpy==2.1.2
scikit-learn==1.5.2
statsmodels==0.14.2

# Config & uploads
pydantic==2.9.2
pydantic-settings==2.1.0
python-multipart==0.0.9

# Metrics
prometheus-client==0.20.0
